header {
  height: 866px;
  width: 100%;
  background: url("../img/bg_header.png");
  color: green;
}

.header-top {
  height: 78px;
  background: url("../img/bg_menu.png");
}
.header-top .icon i {
  margin-right: 40px;
}

.menu-right {
  width: 60%;
}

nav.navbar {
  padding: 10px 70px;
}

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
  font-size: 12px;
  font-family: "Open Sans";
}

a {
  font-family: "Thirsty Script Extrabold Demo";
}
a span.m {
  color: white;
  font-size: 37px;
}
a .adala {
  color: black;
  font-size: 34px;
}

.item.item8 {
  grid-column: 2/3;
  grid-row: 1/span 2;
}

.container#menu-child ul {
  margin-top: 10px;
  text-align: center;
  display: flex;
  margin-left: 10%;
  list-style: none;
}

li {
  font-size: 14px;
  font-family: "Myriad Pro";
  width: 28%;
}
li .gift {
  border-left: #2c2c2c4d solid 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1 fr;
  grid-template-rows: 320px 150px;
}

.item {
  text-align: center;
  color: #fff;
}

#wrapper1 {
  height: 650px;
}

.item5 {
  grid-column: 3/5;
  grid-row: 1/span 2;
}

#wrapper2 {
  height: 650px;
}

.item9 {
  grid-column: 1/3;
  grid-row: 1/span 2;
  background: #000;
}

.item13 {
  grid-column: 4/5;
  grid-row: 2/span 1;
}

.flex-container {
  display: flex;
  margin: 50px 0px;
}

.item14_img {
  margin: 10px;
  border: #789629 solid 1px;
}
.item14_img img {
  margin: 10px;
  border-radius: 0.5;
}

.item14_img_1, .item14_img_2 {
  position: absolute;
}

.item14_img_1 {
  z-index: 3;
}

.item14_img_2 {
  z-index: 2;
}

.item14 {
  z-index: 4;
}

.item15 {
  display: flex;
}

.item15_1 {
  z-index: 99999;
  color: black;
  margin-left: 160px;
  margin-top: 20px;
  width: 58%;
}

.item15_2 {
  position: absolute;
  margin-left: 500px;
}

.point-text {
  display: flex;
  margin-left: 160px;
}
.point-text .point {
  margin-left: 10px;
}

.section2-top_logo ul {
  padding-top: 60px;
  text-align: center;
  display: flex;
  list-style: none;
}
.section2-top_logo li a {
  font-size: 18px;
}
.section2-top_logo li.item1 {
  padding-top: 15px;
}
.section2-top_logo li.item2 {
  padding-top: 15px;
}
.section2-top_logo li.item3 {
  width: 70%;
}
.section2-top_logo span {
  font-size: 35px;
  color: #789629;
}

.section2-top_img {
  text-align: center;
}

.section2-top_menu {
  display: flex;
  text-align: center;
}
.section2-top_menu li {
  padding-left: 20px;
}
.section2-top_menu .list1 {
  list-style: none;
}
.section2-top_menu ul {
  display: flex;
  padding-top: 40px;
  padding-left: 85px;
  padding-right: 85px;
  width: 100%;
}

.section2-bottom.item {
  background-color: white;
  text-align: center;
  width: 200px;
  height: 380px;
}
.section2-bottom.item img {
  width: 200px;
}
.section2-bottom.item p.name {
  color: #b9b9b9;
}

.section2-button {
  text-align: center;
}

.container-fluid {
  display: flex;
  text-align: center;
}

button .button1 {
  background-color: white;
  color: black;
}
button .button1 {
  background-color: #789629;
  color: black;
}
button .button1 {
  background-color: white;
  color: black;
}

.item.item8, .item1, .item2, .item3, .item4, .item5, .item9, .item10, .item11, .item12, .item13 {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

button .button1 {
  border-radius: 12px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
